<%= render 'layouts/sidebar' %>
<div id="pins" class="transitions-enabled">
  <% @pin.each do |pin| %>
    <div class="box">
      <%= image_tag pin.image.url(:medium) %>
    </div>
  <% end %>
</div>

