<body style="background-color:black">
    <div id="wrapper">  
        <h1 class="h1" >FELIX CALIS</h1>
    </div>
        <div id="wrapper2">
	       <h2 class="h2" style="background: linear-gradient(to right, #1c1c1c, #dbdbdb );-webkit-background-clip: text;
                                     -webkit-text-fill-color: transparent">Photographer / Traveller / Entrepreneur 
           </h2>
        </div>
            <div class = "enter">
                <%= link_to 'ENTER', pins_path, class: "enter-site" %>
            </div>
</body>
