@import "bootstrap-sprockets";
@import "bootstrap";

.thumbnail
{
  border-radius: 0;
  margin-bottom: -5px;
  border: 0px solid #666999;
}
.col-md-3
{
	padding: 6px 6px 6px 1px;
}

body
{
	background-color: #F5F5F5;
}