#wrapper{
   
    /* used linear-gradient instead of image - same thing */
    //display:none;
    //text-align: center;
   }
   	#wrapper2
   	{
   
    /* used linear-gradient instead of image - same thing */
    //display:none;
    text-align: center;
     }

.h1
{
	font-family: 'SciFly-Sans', sans-serif;
	//text-align: center;
	margin-top: 200px;
	color: #fff;
	font-size: 200px;

}
.h2{

	color: #fff;
	font-family: 'Savoye LET', sans-serif;
	display: inline;
	font-size:50px;
	
}
.enter
{
	text-align: center;
}

.enter-site
{
	color: #fff;
	font-family: 'Slot-Regular', sans-serif;
	font-size:50px;
}
.enter-site:hover
{
	text-decoration: none;
	color: #fff;
}
