#pins {
  margin-left: 120px;
  margin-top: 25px;
 
}

.box {
  margin: -3px;
  width: 300px;
  border-radius: 0;
  background-color: #F5F5F5;

}

.box img {
  width: 100%;
  
}

.box img:hover {
  cursor: pointer;
}