<div class = "container-fluid">
	<div class="jumbotron">
  		<h2 style="color:#000">About Me</h2>
  			<p style="font-family:GlacialIndifference-Regular;color:#969696">My name is Felix Calis and I am a photograper, brand strategist, marketer, events organizer and entrepreneur. I have established myself in the world of Fashion Photography and have an extensive backgrond in brand development for a number of major ad agencies. I am always looking for an opportunity to showcase my talents to new clients.</p>
  			<p><%= link_to 'Back', pins_path, :class => 'back' %><p>
  	</div>

</div>