<div class = "container-fluid">
	<div class="jumbotron">
		<div class="row">
			<div class="col-xs-12 col-md-3">
  				<h2 style="color:#000">Contact Information</h2>
  				<h4 style="font-family:GlacialIndifference-Regular;color:#969696">Phone: </h4><p style="font-size: 15px">8939693957</p>
  				<h4 style="font-family:GlacialIndifference-Regular;color:#969696">Email: </h4> felixcalis@gmail.com
  				<h4 style="font-family:GlacialIndifference-Regular;color:#969696">Location: </h4> Chennai <br /><br />
  				<p><%= link_to 'Back', root_path, :class => 'back' %><p>
  			</div>
  		</div>
	</div>
</div>	

     
