<body style="background-color:#bababa">
	<div class = "container">
		<div class="jumbotron" style="background-color:#fff;margin-top:10%">
  			<h2 style="color:#969696;font-family: 'SciFly-Sans', sans-serif;font-size:50px">Partnerships</h2>
  			<p style="color:#969696;font-family: 'SciFly-Sans', sans-serif;font-size:20px">If you are open to working with me on a project or need my services please look up my contact details. I am always looking for new opportunities with innovative and creative people.</p>
  			<p><%= link_to 'Back', root_path, :class => 'back' %><p>
  		</div>
	</div>
</body>