<body style="background-color:#bababa">
	<div class = "container">
		<div class="jumbotron" style="background-color:#fff;margin-top:10%">
  			<h2 style="color:#969696;font-family: 'SciFly-Sans', sans-serif;font-size:50px">Services</h2>
  				
  					<p style="color:#969696;font-family: 'SciFly-Sans', sans-serif;font-size:20px">Photography</p>
  					<p style="color:#969696;font-family: 'SciFly-Sans', sans-serif;font-size:20px">Brand Management</p>
  					<p style="color:#969696;font-family: 'SciFly-Sans', sans-serif;font-size:20px">Event Management</p>
  					<p style="color:#969696;font-family: 'SciFly-Sans', sans-serif;font-size:20px">Marketing</p>
  				
					<p><%= link_to 'Back', root_path, :class => 'back' %><p>
  		</div>
	</div>
</body>